@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.title {
    color: red;
    margin-top: 50px;
}

.container {
    text-align: center;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
}

.btn {
    border-radius: 4px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    color: white;
    background-color: red;
}

.btn:hover {
    opacity: 0.8;
}

.input {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}

.left-todos {
    padding-bottom: 20px;
    font-size: 14px;
    font-style: italic;
}

.todo {
    display: block;
    color: red;
    padding-bottom: 10px;
    border: solid, black;
}

.todos {
    margin: auto;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    max-width: 200px;
}